#main
	
	& #bodyContent
		flex(column)
		align-items center
		margin-top 25px
		max-width 60%
		
		& hr
			margin 50px 0
		
		& > section
			flex(column)
			align-items center
			
			& a
				font-size contentSize
				font-weight bold
				margin 25px auto 0
				text-align justify
			
			& h1
				font-size headerSize
				text-align center
			
			& p
				font-size contentSize
				margin-bottom 0
				text-align justify
				width 100%
			
			& ul
				font-size contentSize
				margin-bottom 0
				width 100%
				
				& > li
					margin-left 5%
					text-align justify
			
			& .lfw
				background-color blueLight
				border 0.2em solid orangeDark
				border-radius 10px
				margin-top 20px
				padding 20px
				
				& .center
					text-align center
				
				& p:first-child
					margin-top 0
				
				& .button.cv
					background-color blueDark
					border 0 none
					border-radius .7rem
					padding .5rem .5rem .7rem
