#main
	
	& #bodyContent
		flex(column)
		align-items center
		margin-top 25px
		max-width 75%
		
		& > section
			flex(column)
			align-items center
			
			& a
				font-size contentSize
				margin 15px auto 0
				text-align justify
			
			& h1
				font-size headerSize
				text-align center
			
			& p
				font-size contentSize
				margin-bottom 0
				text-align justify
				width 100%
