#main
	
	& .cv
		width 50%
		
		& section
			flex(column)
			align-content center
			justify-content space-evenly
			margin 15px 0
			text-align center

@require "./cv/education"
@require "./cv/experience"
@require "./cv/head"
@require "./cv/portfolio"
@require "./cv/summary"
@require "./cv/media"
