#main

	& > h1
		font-size headerSize
	
	& #socialLinks
		flex(row)
		align-items centers
		justify-content center
		line-height socialLinkSize
		margin-top 5px
		
		& a
			display inline-block
			height socialLinkSize
			margin 0 3px
			
			& img
				height socialLinkSize
		
		& .liberapay
			overflow visible
			
			& i
				font-size 1.5em
	
	& header.content
		font-size contentSize
		margin 25px auto
		max-width 65%
		text-align justify
