#main

	& > h1
		font-size 2.5em
	
	& #socialLinks
		flex(row)
		align-items centers
		justify-content center
		line-height socialLinkSize
		margin-top 5px
		
		& a
			display inline-block
			height socialLinkSize
			margin 0 3px
			
			& img
				height socialLinkSize
				width socialLinkSize
	
	& header.content
		font-size 1.2em
		margin 25px auto
		max-width 65%
		text-align justify
