blue = #2B4F6F
blueDark = #143654
blueLight = #4B6D8A
blueLightTransition = #4B6D8A
morning = #FF4420
daylight = #F6CDB4
night = #4800ff
greyTransparentLess = rgba(50, 50, 50, 0.8)
greyTransparent = rgba(50, 50, 50, 0.5)
greyTransparentVery = rgba(50, 50, 50, 0.2)
orange = #D68C6D
orangeDark = #AC5E3A
whiteOff = #F4F6F9
yellowLight = #D6BD6C

contentSize = 1.2rem
footerSize = 0.8rem
headerSize = 2.5rem
socialLinkSize = 1.5rem

flex(dir)
	display flex
	flex-direction dir

hide()
	opacity 0
	visibility hidden
