blue = #2B4F6F
blueDark = #143654
blueLight = #4B6D8A
greyTransparentLess = rgba(50, 50, 50, 0.8)
greyTransparent = rgba(50, 50, 50, 0.5)
greyTransparentVery = rgba(50, 50, 50, 0.2)
orange = #D68C6D
orangeDark = #AC5E3A
whiteOff = #F4F6F9
yellowLight = #D6BD6C

contentSize = 1.2em
footerSize = 0.8em
headerSize = 2.5em
socialLinkSize = 1.5em

flex(dir)
	display flex
	flex-direction dir

hide()
	opacity 0
	visibility hidden
