#main .cv > .skills
	flex(column)
	
	& h3
		text-decoration underline
	
	& .skillGrid
		margin-top 2em
		
		& h5
			font-weight normal
		
		& div
			flex(row)
			align-content flex-start
			flex-wrap wrap
			justify-content space-evenly
			margin-top .5em
			
			& p
				flex-basis 33%
				margin .3em 0
				
				&.four
					flex-basis 25%
