#main .cv .summary
	
	& > p
		margin-top 0
		text-align justify
	
	& .skillList
		flex(row)
		flex-wrap wrap
		justify-content space-evenly
		align-content flex-start
		
		& p
			flex-basis 33%
			font-weight bold
			margin .2em 0
